version: '3.8'

services:
  bot:
    build: .
    container_name: alfa_content_assistant
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    environment:
      - PYTHONUNBUFFERED=1

